// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary: #ef7308;
$secondary: #173f25;
$background: #fbfaf7;
$light-green: #edf5ef;
$text: #2c2928;
$light-text: #747b77;
$white: #ffffff;

$light-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
$box-shadow :0 6px 20px rgba(23, 63, 37, 0.08);