.restaurant-card {
  padding: 20px;
  background: $white;
  border-radius: 20px;
  box-shadow: $box-shadow;

  &__header {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0 0 5px;
      color: $green;
    }

    p {
      margin: 0;
      color: $light-text;
    }
  }

  &__rating {
    color: $orange;
    font-weight: 700;
  }

  &__stats {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    span {
      flex: 1;
      padding: 10px 5px;
      text-align: center;
      background: $light-green;
      border-radius: 10px;
      font-size: 13px;
    }
  }
}
